html{
    
    font-size: 10px;
}

body {
    
    height: 80vh;
    /* background: url(../assets/img/watercolor.png); */
    background:rgba(45, 75, 115, 0.567) fixed center/cover;
    font-family: 'Poppins', sans-serif;
}

#container {

    width: 100vw;
    margin: 1% auto;
}

#kalkulator, #interpretacja {
   
    background: fixed #99b4bf90  center/cover;
    /* width:70%; */
    max-width: 400px; 
    padding: 5%;
    box-shadow: 10px 10px 20px rgba(242, 206, 213, 0.525);
    border-radius: 5px;
    margin: 5% auto;  
}


legend{
   
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 3px;
    border-style: groove;
}

.tytul_input{

    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3px;
}

.twoje_bmi_wynosi{

    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
}


table, tr, td, th {

    border-bottom: 1px solid black;
    border-collapse: collapse;
    background-color:  #f2f2f2 ;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.5rem;    
}

.tb_1{
    width:100%;  
} 
   
th{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);   
}

td {
    padding: 2px;
}

.interp{

    text-align: left;
    padding-left: 10px;
}

input {
    background-color:#BF8D30 ;
    width: 70%;    
    color: black;
    border: 1px  groove #BF8D30 ;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 5px;
    outline: none;
}

input:focus{

    background-color: #99B4BF;
    border: 1px  inset #BF8D30 ;
    /* box-shadow: 0px 0px 10px 2px #D9B70D; */
}

output#bmi {
  
    color:#BF8D30;
    font-size: 2rem;
    font-weight: 700;
  
}

@media screen and (min-with: 650px) {
    #kalkulator #interpretacja {
        display:inline-block;    
    }
    
input{

    width: 4rem; 
    font-size: 4rem;
    max-width: 30%;
    }

    .tytul_input{

        color: rgba(0, 0, 0, 0.7);
        font-size: 4rem;
    }
    .tb_1, th{
        font-size: 4rem;
    }
/* Color Theme Swatches in Hex*/
.Podróże-1-hex { color: #2D4B73; }
.Podróże-2-hex { color: #253C59; }
.Podróże-3-hex { color: #99B4BF; }
.Podróże-4-hex { color: #D9B70D; }
.Podróże-5-hex { color: #BF8D30; }

/* Color Theme Swatches in RGBA */
.Podróże-1-rgba { color: rgba(44, 75, 114, 1); }
.Podróże-2-rgba { color: rgba(37, 59, 89, 1); }
.Podróże-3-rgba { color: rgba(153, 180, 191, 1); }
.Podróże-4-rgba { color: rgba(216, 182, 13, 1); }
.Podróże-5-rgba { color: rgba(191, 141, 47, 1); }

/* Color Theme Swatches in HSLA */
.Podróże-1-hsla { color: hsla(213, 43, 31, 1); }
.Podróże-2-hsla { color: hsla(213, 40, 24, 1); }
.Podróże-3-hsla { color: hsla(196, 23, 67, 1); }
.Podróże-4-hsla { color: hsla(50, 88, 45, 1); }
.Podróże-5-hsla { color: hsla(39, 60, 46, 1); } 


}




