$bg-calkulator-color: #9BCAE0;
$bg-tabela-color:#ace1fa61;
$bg-naglowki-color:#FFF1EB;
$bg-input-color: #89B3C7;
$bg-wynik-color:rgba(109, 188, 220, 0.5);
$shadow-color:#A1957D;
$wynik-color: rgba(0, 0, 0, 0.7);
$font-color:#28353B;

html{
    
    font-size: 10px;
}

body {
    background: linear-gradient(0deg, #fff1eb 0%, #ace0f9 100%) fixed center/cover;
    max-height: 80vh;
    font-family: 'Poppins', sans-serif;
}

#container {

    width: 100vw;
    margin: 1% auto;
    
}

#kalkulator, #interpretacja {
   
    background: fixed $bg-calkulator-color  center/cover;
    max-width: 300px; 
    padding: 2%;
    box-shadow: 10px 10px 20px $shadow-color;
    border-radius: 5px;
    margin: 2% auto;  
   
}
fieldset{
    background-color: $bg-tabela-color;
}

legend{
    background-color: $bg-naglowki-color;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 3px;
    border-style: groove;
}

.tytul_input{

    color: $font-color;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3px;
}
input  {
   
    width: 70%;    
    color: $font-color;
    border: 1px  groove;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 5px;
    outline: none;
    background-color: $bg-input-color;
    text-align: center;
}
input:focus{
    
    background-color: $bg-calkulator-color;
    border: 1px  ridge;
}
#wynik{

    background-color: $bg-input-color;
    width: 30%;
    height: 30px;
    margin:auto;
    border: 2px groove $bg-input-color ;
    text-align: center;
    padding-top: 5px;
    color:$font-color;
    font-size: 2rem;
    font-weight: bold;
   }


.twoje_bmi_wynosi{

    color: $font-color;
    font-size: 1.5rem;
    font-weight: 600;
    
}
table{
   
    border:1px groove;

}

 thead th{
    background-color: $bg-naglowki-color;
    border:  2px groove $bg-input-color; 
    
 }

table, tr, td {

    
    border-collapse: collapse;
    background-color: $bg-tabela-color;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.5rem;   
    color:$font-color;
}

.tb_1{
    width:100%;  
    border-width: 1px;
    border-style: groove;
    border-color: $bg-input-color;
    border-image: initial;
} 
   
.naglowek_tabeli{
    
    background-color: $bg-input-color ;
}
th{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color:$font-color;   
}

td {
    padding: 2px;
}

.interp{

    text-align: left;
    padding-left: 10px;
}

@media screen and (min-with: 650px) {
    
    #container{

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #kalkulator #interpretacja {
        display:inline-block;    
    }
    
    input{

        width: 4rem; 
        font-size: 4rem;
        max-width: 30%;
    }

    .tytul_input{

        color: $font-color;
        font-size: 4rem;
    }
    .tb_1, th{
        font-size: 4rem;

    }
}